code {
  display: inline-block !important;
  border: 1px solid #e0e0e0 !important;
  background: #f5f5f5 !important;
  border-radius: 3px !important;
  padding: 0px 4px !important;
  margin: 2px 2px 0px !important;
  color: #b71c1c !important;
}

.rendered_html blockquote {
  margin: 1em 0em;
  color: grey;
}
